In [1]:
import pandas as pd
df=pd.read_csv('shopeep_koreantop_clothing_shop_data.csv')
df

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
0,20210613254711738,2021-06-13,254711738,hello.may.ph,April,27,2020,446,17487,10:13:55,96,NaN,181,17510,729,4.81,1,0
1,20210613314198143,2021-06-13,314198143,love.women.shop,September,25,2020,263,8574,10:43:05,73,"San Nicolas,Metro Manila",78,2656,198,4.68,0,0
2,2021061310377223,2021-06-13,10377223,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila",4647,1071829,18073,4.91,1,0
3,2021061321407329,2021-06-13,21407329,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila",44,18959,215,4.94,1,0
4,2021061311187885,2021-06-13,11187885,Little Market Manila,October,18,2016,467,67371,11:40:59,89,"Caloocan City,Metro Manila",680,39252,2383,4.73,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,20210706449182992,2021-07-06,449182992,Yacent_thrift_Clo,May,22,2021,16,115,08:45:30,86,"Legazpi City,Albay",0,32,0,5.00,0,0
742,20210706396605392,2021-07-06,396605392,Akistore.ph,March,3,2021,84,84,08:01:23,91,NaN,1,9,0,4.60,0,0
743,20210706360379308,2021-07-06,360379308,Yzanice Shop,December,20,2020,78,5982,08:46:30,96,NaN,16,463,16,4.75,1,0
744,2021070629392066,2021-07-06,29392066,Clairecvc Shop,August,2,2017,964,44029,12:19:44,73,"Binondo,Metro Manila",1960,103289,3982,4.78,0,0
745,2021070625811092,2021-07-06,25811092,angelcity.💋,June,17,2017,272,868370,10:02:42,36,"Pasay City,Metro Manila",13401,708666,30799,4.77,0,0

In [2]:
# Để đơn giản ta thực hiện lọc tập dữ liệu ban đầu theo các thuộc tính sau
df = df[['join_month','join_day','join_year','shop_location','rating_good','rating_bad','rating_normal']]
df

,join_month,join_day,join_year,shop_location,rating_good,rating_bad,rating_normal
0,April,27,2020,NaN,17510,181,729
1,September,25,2020,"San Nicolas,Metro Manila",2656,78,198
2,September,27,2016,"Pasay City,Metro Manila",1071829,4647,18073
3,April,30,2017,"Binondo,Metro Manila",18959,44,215
4,October,18,2016,"Caloocan City,Metro Manila",39252,680,2383
...,...,...,...,...,...,...,...
741,May,22,2021,"Legazpi City,Albay",32,0,0
742,March,3,2021,NaN,9,1,0
743,December,20,2020,NaN,463,16,16
744,August,2,2017,"Binondo,Metro Manila",103289,1960,3982
745,June,17,2017,"Pasay City,Metro Manila",708666,13401,30799

In [3]:
# Tạo cột 'rating' tính điểm cho mỗi cửa hàng dựa vào thông tin các cột rating_bad, rating_good, rating_normal 
# theo công thức sau: rating = rating_good *2 + rating_normal - rating_bad*3
df['rating'] = df['rating_good'] * 2 + df['rating_normal'] - df['rating_bad'] * 3
df

/var/folders/_n/dvkgp5mx05lf2bk9v3v0gltr0000gn/T/ipykernel_52685/2375253574.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['rating'] = df['rating_good'] * 2 + df['rating_normal'] - df['rating_bad'] * 3

,join_month,join_day,join_year,shop_location,rating_good,rating_bad,rating_normal,rating
0,April,27,2020,NaN,17510,181,729,35206
1,September,25,2020,"San Nicolas,Metro Manila",2656,78,198,5276
2,September,27,2016,"Pasay City,Metro Manila",1071829,4647,18073,2147790
3,April,30,2017,"Binondo,Metro Manila",18959,44,215,38001
4,October,18,2016,"Caloocan City,Metro Manila",39252,680,2383,78847
...,...,...,...,...,...,...,...,...
741,May,22,2021,"Legazpi City,Albay",32,0,0,64
742,March,3,2021,NaN,9,1,0,15
743,December,20,2020,NaN,463,16,16,894
744,August,2,2017,"Binondo,Metro Manila",103289,1960,3982,204680
745,June,17,2017,"Pasay City,Metro Manila",708666,13401,30799,1407928

In [5]:
# ghép 3 cột join_month, join_day, join_year thành cột mới có tên 'date' nhận giá trị có dạng: "join_month join_day,join_year"
df['date'] = df['join_month'] + " " + df['join_day'].astype(str) + ", " + df['join_year'].astype(str)
df

/var/folders/_n/dvkgp5mx05lf2bk9v3v0gltr0000gn/T/ipykernel_52685/3138614546.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['join_month'] + " " + df['join_day'].astype(str) + ", " + df['join_year'].astype(str)

,join_month,join_day,join_year,shop_location,rating_good,rating_bad,rating_normal,rating,date
0,April,27,2020,NaN,17510,181,729,35206,"April 27, 2020"
1,September,25,2020,"San Nicolas,Metro Manila",2656,78,198,5276,"September 25, 2020"
2,September,27,2016,"Pasay City,Metro Manila",1071829,4647,18073,2147790,"September 27, 2016"
3,April,30,2017,"Binondo,Metro Manila",18959,44,215,38001,"April 30, 2017"
4,October,18,2016,"Caloocan City,Metro Manila",39252,680,2383,78847,"October 18, 2016"
...,...,...,...,...,...,...,...,...,...
741,May,22,2021,"Legazpi City,Albay",32,0,0,64,"May 22, 2021"
742,March,3,2021,NaN,9,1,0,15,"March 3, 2021"
743,December,20,2020,NaN,463,16,16,894,"December 20, 2020"
744,August,2,2017,"Binondo,Metro Manila",103289,1960,3982,204680,"August 2, 2017"
745,June,17,2017,"Pasay City,Metro Manila",708666,13401,30799,1407928,"June 17, 2017"

In [6]:
# Thêm cột new có giá trị True nếu join_year = 2021 và False trong trường hợp còn lại.
df['new'] = df['join_year'] == 2021 
df

/var/folders/_n/dvkgp5mx05lf2bk9v3v0gltr0000gn/T/ipykernel_52685/4095220131.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['new'] = df['join_year'] == 2021

,join_month,join_day,join_year,shop_location,rating_good,rating_bad,rating_normal,rating,date,new
0,April,27,2020,NaN,17510,181,729,35206,"April 27, 2020",False
1,September,25,2020,"San Nicolas,Metro Manila",2656,78,198,5276,"September 25, 2020",False
2,September,27,2016,"Pasay City,Metro Manila",1071829,4647,18073,2147790,"September 27, 2016",False
3,April,30,2017,"Binondo,Metro Manila",18959,44,215,38001,"April 30, 2017",False
4,October,18,2016,"Caloocan City,Metro Manila",39252,680,2383,78847,"October 18, 2016",False
...,...,...,...,...,...,...,...,...,...,...
741,May,22,2021,"Legazpi City,Albay",32,0,0,64,"May 22, 2021",True
742,March,3,2021,NaN,9,1,0,15,"March 3, 2021",True
743,December,20,2020,NaN,463,16,16,894,"December 20, 2020",False
744,August,2,2017,"Binondo,Metro Manila",103289,1960,3982,204680,"August 2, 2017",False
745,June,17,2017,"Pasay City,Metro Manila",708666,13401,30799,1407928,"June 17, 2017",False

In [7]:
# Nếu có 2 lựa chọn ta sử dụng np.where
# Thêm cột rate có giá trị good nếu rating_good >= 50000,  bad trong trường hợp còn lại

import numpy as np
df['rate'] = np.where(df['rating_good'] >= 50000,'good','bad' )
df

/var/folders/_n/dvkgp5mx05lf2bk9v3v0gltr0000gn/T/ipykernel_52685/2519331217.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['rate'] = np.where(df['rating_good'] >= 50000,'good','bad' )

,join_month,join_day,join_year,shop_location,rating_good,rating_bad,rating_normal,rating,date,new,rate
0,April,27,2020,NaN,17510,181,729,35206,"April 27, 2020",False,bad
1,September,25,2020,"San Nicolas,Metro Manila",2656,78,198,5276,"September 25, 2020",False,bad
2,September,27,2016,"Pasay City,Metro Manila",1071829,4647,18073,2147790,"September 27, 2016",False,good
3,April,30,2017,"Binondo,Metro Manila",18959,44,215,38001,"April 30, 2017",False,bad
4,October,18,2016,"Caloocan City,Metro Manila",39252,680,2383,78847,"October 18, 2016",False,bad
...,...,...,...,...,...,...,...,...,...,...,...
741,May,22,2021,"Legazpi City,Albay",32,0,0,64,"May 22, 2021",True,bad
742,March,3,2021,NaN,9,1,0,15,"March 3, 2021",True,bad
743,December,20,2020,NaN,463,16,16,894,"December 20, 2020",False,bad
744,August,2,2017,"Binondo,Metro Manila",103289,1960,3982,204680,"August 2, 2017",False,good
745,June,17,2017,"Pasay City,Metro Manila",708666,13401,30799,1407928,"June 17, 2017",False,good

In [8]:
# Nếu có nhiều hơn 2 lựa chọn ta sử dụng np.select
# Thêm cột flag tặng cờ cho các cửa hàng, flag nhận các giá trị như sau:
# blue khi rating_good >= 30000 và rating_bad <= 100
# yellow khi 10000 <= rating_good < 30000 và 100 < rating_bad <= 1000
# red khi rating_good < 10000
# black đối với các trường hợp còn lại

conditions = [(df['rating_good'] >= 30000) & (df['rating_bad'] <= 100),
              (df['rating_good'] >= 10000) & (df['rating_good'] < 30000) & (df['rating_bad'] <= 1000) & (df['rating_bad'] > 100),
              (df['rating_good'] < 10000)]
choices = ['blue', 'yellow','red']
df['flag'] = np.select(conditions, choices, default='black')
df

/var/folders/_n/dvkgp5mx05lf2bk9v3v0gltr0000gn/T/ipykernel_52685/421676308.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['flag'] = np.select(conditions, choices, default='black')

,join_month,join_day,join_year,shop_location,rating_good,rating_bad,rating_normal,rating,date,new,rate,flag
0,April,27,2020,NaN,17510,181,729,35206,"April 27, 2020",False,bad,yellow
1,September,25,2020,"San Nicolas,Metro Manila",2656,78,198,5276,"September 25, 2020",False,bad,red
2,September,27,2016,"Pasay City,Metro Manila",1071829,4647,18073,2147790,"September 27, 2016",False,good,black
3,April,30,2017,"Binondo,Metro Manila",18959,44,215,38001,"April 30, 2017",False,bad,black
4,October,18,2016,"Caloocan City,Metro Manila",39252,680,2383,78847,"October 18, 2016",False,bad,black
...,...,...,...,...,...,...,...,...,...,...,...,...
741,May,22,2021,"Legazpi City,Albay",32,0,0,64,"May 22, 2021",True,bad,red
742,March,3,2021,NaN,9,1,0,15,"March 3, 2021",True,bad,red
743,December,20,2020,NaN,463,16,16,894,"December 20, 2020",False,bad,red
744,August,2,2017,"Binondo,Metro Manila",103289,1960,3982,204680,"August 2, 2017",False,good,black
745,June,17,2017,"Pasay City,Metro Manila",708666,13401,30799,1407928,"June 17, 2017",False,good,black